{% extends 'base.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Nouvel Utilisateur</h1>
    
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Créer</button>
    
    {# Only show "Retour" button if user is logged in #}
    {% if app.user %}
        <a href="{{ path('app_user') }}" class="btn btn-secondary">Retour</a>
    {% endif %}
    
    {{ form_end(form) }}
</div>
{% endblock %}